 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>
</head>
<body>
    {{>header}}
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, et maiores pariatur tempore porro maxime debitis, qui voluptas exercitationem sequi sit possimus consequuntur, at soluta nam voluptatum harum ducimus? Ratione?.
    </p>
    {{>footer}}
</body>
</html>